/* animation duration times */


/* 
  animation duration for main splash 
*/
#main-splash {
  -webkit-animation-duration: 3s;
  	 -moz-animation-duration: 3s;
  	   -o-animation-duration: 3s;
  	   	  animation-duration: 3s;
  -webkit-animation-delay: 1s;
  	 -moz-animation-delay: 1s;
  	   -o-animation-delay: 1s;
  	 	  animation-delay: 1s;
}

