
/* Variables for style.scss */


/* font */
$font-family: 'Open Sans', sans-serif;

/* Media Size */
$media-small: 600px; 
$media-medium: 720px; 


/* ** Colors ** */
/* 
Main background color for sections 
*/
$background-color: #2a3440; /* Dark Blue */

/* 
secondary color for text and 
other background for sections 
*/
$secondary-color: rgba(255,255,255,.5); /*white*/ 