html, body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	width: 100%;
	height: 100%;
	margin: 0;

	a {
		text-decoration: none;
		color: blue;
		&:hover {
			text-decoration: underline;
		}
	}
	hr {
		max-width: 500px;
	}
	h1, h2, h3, p {
		text-align: center;
		margin-top: 0;
	}

	h1, h2, h3 {
		text-transform: uppercase;
	}

	h2, h3 {
		letter-spacing: 5px;
		text-decoration: underline;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.black {
		/*background-color: black;*/
		background-color: #2a3440;
	}
	.white-txt {
		color: white;
	}
	.bold {
		font-weight: bold;
	}
	.txt-center {
		text-align: center;
	}
}

.container {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}

.section-large {
	background-color: #2a3440;
	-webkit-background-size: cover;
  	   -moz-background-size: cover;
  		 -o-background-size: cover;
  			background-size: cover;
	height: 30vh;  
	width: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	transition: opacity 1s ease;

	h1 {
		/*color: #fff;*/
		color: rgba(255,255,255,.5);
		font-size: 40px;
		letter-spacing: 10px;
		padding-top: .5em;
	}

	a {
		position: relative;
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (max-width: 720px) {
	.section-large {
		h1 {
			font-size: 30px;
			letter-spacing: 10px;
		}
	}
	.section-large-link {
		font-size: 15px;
		padding: 0;
		position: relative;
	}
}

.header {
	text-decoration: none;
	color: black;

	&:hover {
		text-decoration: none;
		color: black;
	}
}

.social {
	text-align: center;
	color: rgba(255,255,255,.5);
	font-size: 1.1em;
	word-spacing: 4em;

	a {
		text-decoration: none;
		
		&:hover {
			text-decoration: none;
			color: gray;
		}
	}
}

.job-description {
	padding-bottom: 1em;

	a {
		text-decoration: none;
		color: blue;

		&:hover {
			text-decoration: underline;
		}
	}
}

.title {
	h3 {
		padding-top: 1em;
		text-decoration: none;
		padding-bottom: 0;
	}
	a {
		color: black;
	}
}



















