/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

/* Body */
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
               "Helvetica Neue", Helvetica, Arial,
               "Lucida Grande", sans-serif;
  font-weight: 300;

  .bold {
    font-weight: bold;
  }

  h1 {
    font-size: 30px;
    font-weight: bold;
  }

  h2 {
    font-size: 25px;
  }

  h4 {
    font-size: 14px;
    color: gray;
  }
}

.background-pic {
  background: url("../img/ocean.png") no-repeat center center fixed;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

.work-container {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

/* Animation Duration and deley */
#header {
  -webkit-animation-duration: 4s;
  -webkit-animation-delay: 1s;
  /*-webkit-animation-iteration-count: infinite;*/
}

/* Container that the header lives in */
.header-container {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  /*display: inline-block;*/
  height: 12%;
  /*width: 90%;*/
  max-width: 75%;
}

.header {
  /*display: inline-block;*/
  /*margin: 0 auto;*/
  text-align: center;

  .tag {
    letter-spacing: 2.5px;
  }

  a {
    text-decoration: none;
    color: black;
  }
}

.links {
  position: relative;
  float: right;
  margin-top: 0px;
  margin-right: 0;
  top: 0px;
  word-spacing: 25px;
  font-weight: bold;

  a {
    text-decoration: none;
    color: black;
    /*font-size: 18px;*/

    &:hover {
      color: white;
      font-weight: bold;
    }
  }
}

.work-links {
  position: relative;
  float: right;
  margin-right: 0;
  top: 0px;
  word-spacing: 25px;
  font-weight: bold;

  a {
    text-decoration: none;
    color: gray;
    /*font-size: 18px;*/

    &:hover {
      color: black;
      font-weight: bold;
    }
  }

  .current {
    color: black;
    border-bottom: 2px solid black;
  }
}

.social {
  position: relative;
  float: left;
  margin-left: 0;
  top: 0px;
  word-spacing: 25px;
}

.work-social {
  /*display: inline-block;*/
  color: gray;
  position: relative;
  float: left; 
  margin-left: 0;
  top: 0px;
  word-spacing: 25px;
}

.social-icon {
  color: black;
  font-size: 16px;

   &:hover {
    color: white;
  }
}

.work-social-icon {
  color: gray;
  /*font-size: 15px;*/

   &:hover {
    color: black;
  }
}

/*@media screen and (max-width: 768px) {*/
@media screen and (max-width: 800px) {

  .header-container {
    margin-top: 50px;
    /*width: 200px;*/
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .header {
    position: relative;
    padding-top: 0px;
    text-align: center;

    .tag {
      letter-spacing: 2.5px;
    }
  }

  .links {
    position: relative;
    text-align: center;
    float: none;
    margin-right: auto;
    margin-left: auto;
    top: 60px;
    word-spacing: 25px;
  }

  .social {
    position: relative;
    text-align: center;
    float: none;
    margin-right: auto;
    margin-left: auto;
    padding-top: 40px;
    word-spacing: 25px;
  }

  .work-links {
    position: relative;
    text-align: center;
    float: none;
    margin-right: auto;
    margin-left: auto;
    top: 60px;
    word-spacing: 25px;
  }

  .work-social {
    position: relative;
    text-align: center;
    float: none;
    margin-right: auto;
    margin-left: auto;
    padding-top: 40px;
    word-spacing: 25px;
  }

  .work-content {
    position: relative;
    padding-top: 70px;
  }

  .job-description {
    padding-bottom: 20px;
  }

}

.work-content {
  position: relative;
  top: 50px;
  margin-left: 10%;
  margin-right: 10%;

  a {
    text-decoration: none;
    color: black;
  }
}

.job-description {
  padding-top: 10px;
  color: gray;

  a {
    color: gray;
    text-decoration: underline;

    &:hover {
      color: black;
    }
  }

}

.work-twitter {
  a:hover {
    color: #00aced;
  }
}

.work-facebook {
  a:hover {
    color: #3b5998;
  }
}

.work-instagram {
  a:hover {
    color: #517fa4
  }
}


