/*Styles*/

html, body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	width: 100%;
	height: 100%;
	margin: 0;

	a {
		text-decoration: none;
		color: blue;
		&:hover {
			text-decoration: underline;
		}
	}
	hr {
		max-width: 500px;
	}
	h1, h2, h3, p {
		text-align: center;
		margin-top: 0;
	}

	h1, h2, h3 {
		text-transform: uppercase;
	}

	h2, h3 {
		letter-spacing: 5px;
		text-decoration: underline;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.black {
		/*background-color: black;*/
		background-color: #2a3440;
	}
	.white-txt {
		color: white;
	}
	.bold {
		font-weight: bold;
	}
}

/*.section {
	margin: 0; 
	width: 100%; 

	.full {
		height: 100vh; 
		background-color: #2a3440;
		-webkit-background-size: cover;
	  	   -moz-background-size: cover;
	  		 -o-background-size: cover;
	  			background-size: cover;
	  	padding: 0;
		position: relative;
		transition: opacity 1s ease;
		
		h1 {
			color: rgba(255,255,255,.5);
			font-size: 40px;
			letter-spacing: 10px;
			padding-top: 5em;

			@media screen and (max-width: 720px) {
				font-size: 30px; 
				letter-spacing: 10px; 
			}
		}
	}	

}*/

.section-large {
	/*background: url("../ocean.png") no-repeat center center fixed;*/
	background-color: #2a3440;
	-webkit-background-size: cover;
  	   -moz-background-size: cover;
  		 -o-background-size: cover;
  			background-size: cover;
	height: 100vh; 
	width: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	transition: opacity 1s ease;

	h1 {
		/*color: #fff;*/
		color: rgba(255,255,255,.5);
		font-size: 40px;
		letter-spacing: 10px;
		padding-top: 5em;
	}

	a {
		position: relative;
		margin-left: auto;
		margin-right: auto;
	}

	@media screen and (max-width: 720px) {
		h1 {
			font-size: 30px;
			letter-spacing: 10px;
		}
	}
}

@media screen and (max-width: 720px) {
	
	
}

/*.section-large-link {
	position: relative;
	font-size: 18px;
	padding: 0;
	margin: 0;
	letter-spacing: 50px;
	float: 0;
	text-align: center;

	@media screen and (max-width: 720px) {
		font-size: 15px;
		padding: 0;
		position: relative;
	}
}*/

.section-10 {
	height: 10vh; 
	width: 100%;
	margin: 0; 
	padding-top: 20px;
	padding-bottom: 20px;

	@media screen and (max-width: 720px) {
		height: 20vh;
	}
}
.section-20 {
	height: 25vh; 
	width: 100%;
	margin: 0; 
	padding-top: 20px;
	padding-bottom: 20px;

	h2 {
		padding-top: 20px;
	}

	@media screen and (max-width: 720px) {
		height: 30vh;
	}
}
.section-50 {
	height: 50vh; 
	width: 100%;
	margin: 0; 
	padding-top: 20px;
	padding-bottom: 20px;
	overflow: hidden;
}
.section-70 {
	height: 70vh; 
	width: 100%;
	margin: 0; 
	padding-top: 20px;
	padding-bottom: 20px;
	overflow: hidden;
}
.section-80 {
	height: 80vh; 
	width: 100%;
	margin: 0; 
	padding-top: 20px;
	padding-bottom: 20px;
	overflow: hidden;

	@media screen and (max-width: 600px) {
		height: 90vh;
	}
}
.section-90 {
	height: 90vh; 
	width: 100%;
	margin: 0; 
	padding-top: 20px;
	padding-bottom: 20px;
	overflow: hidden;
}
.section-100 {
	height: 100vh; 
	width: 100%;
	margin: 0; 
	padding-top: 20px;
	padding-bottom: 20px;
	overflow: hidden;
}
.section-container {
	height: 75%;
	max-width: 700px;
	background-color: white;
	margin-left: auto;
	margin-right: auto; 
	margin-bottom: auto;
	border-radius: 15px;

	h2, h3, p {
		color: black;
		text-decoration: none;
	}
	h2 {
		padding-top: 25px;
	}

	@media screen and (max-width: 600px) {
		/*font-size: 14px;*/
		/*height: 75%;*/
		h2 {
			padding-top: 10px;
		}
	}
}

.no-underline {
	text-decoration: none;
}


.about {
	font-size: 18px;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;

	p {
		padding-bottom: 10px;
	}

}

.header {
	text-decoration: none;
	color: black;

	&:hover {
		text-decoration: none;
		color: black;
	}
}

.social {
	text-align: center;
	color: rgba(255,255,255,.5);
	font-size: 1.1em;
	word-spacing: 4em;

	a {
		text-decoration: none;
		
		&:hover {
			text-decoration: none;
			color: gray;
		}
	}
}


#main-splash {
  -webkit-animation-duration: 3s;
  	 -moz-animation-duration: 3s;
  	   -o-animation-duration: 3s;
  	   	  animation-duration: 3s;
  -webkit-animation-delay: 1s;
  	 -moz-animation-delay: 1s;
  	   -o-animation-delay: 1s;
  	 	  animation-delay: 1s;
}

#social-link {
  -webkit-animation-duration: 3s;
  	 -moz-animation-duration: 3s;
  	   -o-animation-duration: 3s;
  	   	  animation-duration: 3s;
  /*-webkit-animation-delay: 1s;
  	 -moz-animation-delay: 1s;
  	   -o-animation-delay: 1s;
  	 	  animation-delay: 1s;*/
}



