/*Styles*/


@import "_variables"; 
@import "_animationtimes";
@import "_sections";


html, body {
	font-family: $font-family; 
	font-weight: 400;
	width: 100%;
	height: 100%;
	margin: 0;

	a {
		text-decoration: none;
		color: blue;
		&:hover {
			text-decoration: underline;
		}
	}
	hr {
		max-width: 500px;
	}
	h1, h2, h3, p {
		text-align: center;
		margin-top: 0;
	}

	h1, h2, h3 {
		text-transform: uppercase;
	}

	h2, h3 {
		letter-spacing: 5px;
		text-decoration: underline;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.tracks {
		/*background-color: black;*/
		background-color: $background-color;

		@media only screen and (max-device-width: $media-small) {
			background-image: url("../assets/tracks.png");
			background-size: cover;
			background-repeat: no-repeat;
			position: absolute;
		}
	}

	.no-underline {
		text-decoration: none;
	}

	.white-txt {
		color: white;
	}
	.bold {
		font-weight: bold;
	}
}



.about {
	font-size: 18px;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;

	p {
		padding-bottom: 10px;
	}

}

.header {
	text-decoration: none;
	color: black;

	&:hover {
		text-decoration: none;
		color: black;
	}
}

.social {
	text-align: center;
	color: $secondary-color;
	font-size: 1.1em;
	word-spacing: 4em;

	a {
		text-decoration: none;
		
		&:hover {
			text-decoration: none;
			color: gray;
		}
	}
}





