/*Styles*/
/* Variables for style.scss */
/* font */
/* Media Size */
/* ** Colors ** */
/* 
Main background color for sections 
*/
/* Dark Blue */
/* 
secondary color for text and 
other background for sections 
*/
/*white*/
/* animation duration times */
/* 
  animation duration for main splash 
*/
/* line 7, ../sass/_animationtimes.scss */
#main-splash {
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -o-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
}

/* Sections */
/*  
    These are all of the sections that split up the homepage
*/
/* line 8, ../sass/_sections.scss */
.section-large {
  /*background: url("../ocean.png") no-repeat center center fixed;*/
  background-color: #2a3440;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  transition: opacity 1s ease;
}
/* line 22, ../sass/_sections.scss */
.section-large h1 {
  /*color: #fff;*/
  color: rgba(255, 255, 255, 0.5);
  font-size: 40px;
  letter-spacing: 10px;
  padding-top: 5em;
}
/* line 30, ../sass/_sections.scss */
.section-large a {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 720px) {
  /* line 37, ../sass/_sections.scss */
  .section-large h1 {
    font-size: 30px;
    letter-spacing: 10px;
  }
}

/* line 44, ../sass/_sections.scss */
.section-10 {
  height: 10vh;
  width: 100%;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media screen and (max-width: 720px) {
  /* line 44, ../sass/_sections.scss */
  .section-10 {
    height: 20vh;
  }
}

/* line 55, ../sass/_sections.scss */
.section-20 {
  height: 25vh;
  width: 100%;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 62, ../sass/_sections.scss */
.section-20 h2 {
  padding-top: 20px;
}
@media screen and (max-width: 720px) {
  /* line 55, ../sass/_sections.scss */
  .section-20 {
    height: 35vh;
  }
}

/* line 70, ../sass/_sections.scss */
.section-50 {
  height: 50vh;
  width: 100%;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: hidden;
}

/* line 78, ../sass/_sections.scss */
.section-70 {
  height: 70vh;
  width: 100%;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: hidden;
}

/* line 86, ../sass/_sections.scss */
.section-80 {
  height: 80vh;
  width: 100%;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: hidden;
}
@media screen and (max-width: 600px) {
  /* line 86, ../sass/_sections.scss */
  .section-80 {
    height: 90vh;
  }
}

/* line 98, ../sass/_sections.scss */
.section-90 {
  height: 90vh;
  width: 100%;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: hidden;
}

/* line 106, ../sass/_sections.scss */
.section-100 {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: hidden;
}

/* line 114, ../sass/_sections.scss */
.section-container {
  height: 75%;
  max-width: 700px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  border-radius: 15px;
}
@media only screen and (max-device-width: 600px) {
  /* line 114, ../sass/_sections.scss */
  .section-container {
    background-color: transparent;
    -webkit-backdrop-filter: blur(10px);
  }
}
/* line 128, ../sass/_sections.scss */
.section-container h2, .section-container h3, .section-container p {
  color: black;
  text-decoration: none;
}
/* line 132, ../sass/_sections.scss */
.section-container h2 {
  padding-top: 25px;
}
@media screen and (max-width: 600px) {
  /* line 137, ../sass/_sections.scss */
  .section-container h2 {
    padding-top: 10px;
  }
}

/* line 9, ../sass/style.scss */
html, body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  width: 100%;
  height: 100%;
  margin: 0;
}
/* line 16, ../sass/style.scss */
html a, body a {
  text-decoration: none;
  color: blue;
}
/* line 19, ../sass/style.scss */
html a:hover, body a:hover {
  text-decoration: underline;
}
/* line 23, ../sass/style.scss */
html hr, body hr {
  max-width: 500px;
}
/* line 26, ../sass/style.scss */
html h1, html h2, html h3, html p, body h1, body h2, body h3, body p {
  text-align: center;
  margin-top: 0;
}
/* line 31, ../sass/style.scss */
html h1, html h2, html h3, body h1, body h2, body h3 {
  text-transform: uppercase;
}
/* line 35, ../sass/style.scss */
html h2, html h3, body h2, body h3 {
  letter-spacing: 5px;
  text-decoration: underline;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 42, ../sass/style.scss */
html .tracks, body .tracks {
  /*background-color: black;*/
  background-color: #2a3440;
}
@media only screen and (max-device-width: 600px) {
  /* line 42, ../sass/style.scss */
  html .tracks, body .tracks {
    background-image: url("../assets/tracks.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
  }
}
/* line 54, ../sass/style.scss */
html .no-underline, body .no-underline {
  text-decoration: none;
}
/* line 58, ../sass/style.scss */
html .white-txt, body .white-txt {
  color: white;
}
/* line 61, ../sass/style.scss */
html .bold, body .bold {
  font-weight: bold;
}

/* line 68, ../sass/style.scss */
.about {
  font-size: 18px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
/* line 74, ../sass/style.scss */
.about p {
  padding-bottom: 10px;
}

/* line 80, ../sass/style.scss */
.header {
  text-decoration: none;
  color: black;
}
/* line 84, ../sass/style.scss */
.header:hover {
  text-decoration: none;
  color: black;
}

/* line 90, ../sass/style.scss */
.social {
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.1em;
  word-spacing: 4em;
}
/* line 96, ../sass/style.scss */
.social a {
  text-decoration: none;
}
/* line 99, ../sass/style.scss */
.social a:hover {
  text-decoration: none;
  color: gray;
}
