/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Body */
/* line 9, ../sass/style.scss */
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
/* line 15, ../sass/style.scss */
body .bold {
  font-weight: bold;
}
/* line 19, ../sass/style.scss */
body h1 {
  font-size: 30px;
  font-weight: bold;
}
/* line 24, ../sass/style.scss */
body h2 {
  font-size: 25px;
}
/* line 28, ../sass/style.scss */
body h4 {
  font-size: 14px;
  color: gray;
}

/* line 34, ../sass/style.scss */
.background-pic {
  background: url("../img/ocean.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Animation Duration and deley */
/* line 43, ../sass/style.scss */
#header {
  -webkit-animation-duration: 4s;
  -webkit-animation-delay: 1s;
  /*-webkit-animation-iteration-count: infinite;*/
}

/* Container that the header lives in */
/* line 50, ../sass/style.scss */
.header-container {
  margin-top: 100px;
  height: 10%;
  width: 100%;
}

/* line 56, ../sass/style.scss */
.header {
  /*display: inline-block;*/
  /*margin: 0 auto;*/
  text-align: center;
}
/* line 61, ../sass/style.scss */
.header .tag {
  letter-spacing: 2.5px;
}
/* line 65, ../sass/style.scss */
.header a {
  text-decoration: none;
  color: black;
}

/* line 71, ../sass/style.scss */
.links {
  position: relative;
  float: right;
  margin-right: 15%;
  top: 0px;
  word-spacing: 25px;
  font-weight: bold;
}
/* line 79, ../sass/style.scss */
.links a {
  text-decoration: none;
  color: black;
  /*font-size: 18px;*/
}
/* line 84, ../sass/style.scss */
.links a:hover {
  color: white;
  font-weight: bold;
}

/* line 91, ../sass/style.scss */
.work-links {
  position: relative;
  float: right;
  margin-right: 15%;
  top: 0px;
  word-spacing: 25px;
  font-weight: bold;
}
/* line 99, ../sass/style.scss */
.work-links a {
  text-decoration: none;
  color: gray;
  /*font-size: 18px;*/
}
/* line 104, ../sass/style.scss */
.work-links a:hover {
  color: black;
  font-weight: bold;
}
/* line 110, ../sass/style.scss */
.work-links .current {
  color: black;
  border-bottom: 2px solid black;
}

/* line 116, ../sass/style.scss */
.social {
  /*display: inline-block;*/
  position: relative;
  float: left;
  margin-left: 15%;
  top: 0px;
  word-spacing: 25px;
}

/* line 125, ../sass/style.scss */
.work-social {
  /*display: inline-block;*/
  color: gray;
  position: relative;
  float: left;
  margin-left: 15%;
  top: 0px;
  word-spacing: 25px;
}

/* line 135, ../sass/style.scss */
.social-icon {
  color: black;
  /*font-size: 15px;*/
}
/* line 139, ../sass/style.scss */
.social-icon:hover {
  color: white;
}

/* line 144, ../sass/style.scss */
.work-social-icon {
  color: gray;
  /*font-size: 15px;*/
}
/* line 148, ../sass/style.scss */
.work-social-icon:hover {
  color: black;
}

@media screen and (max-width: 768px) {
  /* line 155, ../sass/style.scss */
  .header-container {
    margin-top: 50px;
    /*width: 200px;*/
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  /* line 163, ../sass/style.scss */
  .header {
    position: relative;
    padding-top: 0px;
    text-align: center;
  }
  /* line 168, ../sass/style.scss */
  .header .tag {
    letter-spacing: 2.5px;
  }

  /* line 173, ../sass/style.scss */
  .links {
    position: relative;
    text-align: center;
    float: none;
    margin-right: auto;
    margin-left: auto;
    top: 60px;
    word-spacing: 25px;
  }

  /* line 183, ../sass/style.scss */
  .social {
    position: relative;
    text-align: center;
    float: none;
    margin-right: auto;
    margin-left: auto;
    padding-top: 40px;
    word-spacing: 25px;
  }

  /* line 193, ../sass/style.scss */
  .work-links {
    position: relative;
    text-align: center;
    float: none;
    margin-right: auto;
    margin-left: auto;
    top: 60px;
    word-spacing: 25px;
  }

  /* line 203, ../sass/style.scss */
  .work-social {
    position: relative;
    text-align: center;
    float: none;
    margin-right: auto;
    margin-left: auto;
    padding-top: 40px;
    word-spacing: 25px;
  }

  /* line 213, ../sass/style.scss */
  .work-content {
    position: relative;
    padding-top: 70px;
  }

  /* line 218, ../sass/style.scss */
  .job-description {
    padding-bottom: 20px;
  }
}
/* line 230, ../sass/style.scss */
.work-content {
  position: relative;
  top: 50px;
  margin-left: 8%;
}
/* line 235, ../sass/style.scss */
.work-content a {
  text-decoration: none;
  color: black;
}

/* line 241, ../sass/style.scss */
.job-description {
  padding-top: 10px;
  color: gray;
}

/* line 247, ../sass/style.scss */
.work-twitter a:hover {
  color: blue;
}
